server {
    listen 80;
    server_name otus.ren;

    location / {
        return 301 https://$host$request_uri;
    }
}

upstream app {
    server 192.168.1.31:80;
    server 192.168.1.32:80;
}

server {
  listen 443 ssl;
  server_name otus.ren;

  ssl_certificate /etc/nginx/otus.ren.crt;
  ssl_certificate_key /etc/nginx/otus.ren.key;

  location / {
    proxy_pass http://app;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
  }
}